<bootstrap-modal title="Genre">
  <main>
      <ngb-alert type="danger" *ngIf="errorMessage" (close)="clearError()" >{{errorMessage}}</ngb-alert>
      <form #genreForm="ngForm" (submit)="save()">
        <div class="form-group">
          <label for="genre-name">Genre name</label>
          <input
            type="text"
            class="form-control"
            id="genre-name"
            name="genre-name"
            required
            ngModel
            aria-describedby="genre-name-help"
            placeholder="Enter genre name"
            [(ngModel)]="genre.name"
          >
        </div>
      </form>
  </main>

  <footer>
    <button *ngIf="genre.id" type="button" class="btn btn-outline-danger" (click)="remove()">Remove</button>
    <button type="button" class="btn btn-primary" [disabled]="!genreForm.form.valid" (click)="save()">Save</button>
  </footer>
</bootstrap-modal>
